# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development
*.db
*.sqlite3

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# Security key files
private.key
public.key
raw_envelopes.json

# Remove later
main23.py